In [21]:
import pandas as pd
import os

## Import Dataset

### Total Cases

In [28]:
# Define the path to the Total Cases CSV file
csv_path = "../Dataset/TOTAL_CASES.csv"

# Read the data from the CSV file
df_total_cases = pd.read_csv(csv_path, index_col=0)

#Total Cases
df_total_cases.head()

,IndicatorCode,SpatialDimension,SpatialDimensionValueCode,TimeDimension,TimeDim,Value,NumericValue,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
Id,,,,,,,,,,,
28119669,MALARIA_TOTAL_CASES,COUNTRY,AGO,YEAR,2010,3 687 574,3687574,2022-02-10T12:40:09Z,2010,01-01-10,31-12-10
28119670,MALARIA_TOTAL_CASES,COUNTRY,AGO,YEAR,2011,3 501 953,3501953,2022-02-10T12:40:09Z,2011,01-01-11,31-12-11
28119671,MALARIA_TOTAL_CASES,COUNTRY,AGO,YEAR,2012,3 031 546,3031546,2022-02-10T12:40:09Z,2012,01-01-12,31-12-12
28119672,MALARIA_TOTAL_CASES,COUNTRY,AGO,YEAR,2013,3 144 100,3144100,2022-02-10T12:40:09Z,2013,01-01-13,31-12-13
28119673,MALARIA_TOTAL_CASES,COUNTRY,AGO,YEAR,2014,3 180 021,3180021,2022-02-10T12:40:09Z,2014,01-01-14,31-12-14

### ITN Coverage

In [52]:
# Define the path to the ITN Coverage CSV file
csv_path = "../Dataset/ITN_COVERAGE.csv"

# Read the data from the CSV file
df_itn_coverage = pd.read_csv(csv_path, index_col=0)

df_itn_coverage.head()

,IndicatorCode,SpatialDimension,SpatialDimensionValueCode,TimeDimension,TimeDim,Value,NumericValue,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
Id,,,,,,,,,,,
28123901,MALARIA_ITN_COVERAGE,COUNTRY,BEN,YEAR,2020,69.0,69.0,2022-02-10T13:10:40Z,2020,01-01-20,31-12-20
28123902,MALARIA_ITN_COVERAGE,COUNTRY,CAF,YEAR,2019,75.2,75.2,2022-02-10T13:10:40Z,2019,01-01-19,31-12-19
28123903,MALARIA_ITN_COVERAGE,COUNTRY,CAF,YEAR,2020,67.6,67.6,2022-02-10T13:10:40Z,2020,01-01-20,31-12-20
28123904,MALARIA_ITN_COVERAGE,COUNTRY,CMR,YEAR,2019,69.4,69.4,2022-02-10T13:10:40Z,2019,01-01-19,31-12-19
28123905,MALARIA_ITN_COVERAGE,COUNTRY,COD,YEAR,2020,62.8,62.8,2022-02-10T13:10:40Z,2020,01-01-20,31-12-20

### IPTP3 Coverage

In [30]:
# Define the path to the IPTP3 Coverage CSV file
csv_path = "../Dataset/IPTP3_COVERAGE.csv"

# Read the data from the CSV file
df_iptp3_coverage = pd.read_csv(csv_path, index_col=0)

df_iptp3_coverage.head()

,IndicatorCode,SpatialDimension,SpatialDimensionValueCode,TimeDimension,TimeDim,Value,NumericValue,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
Id,,,,,,,,,,,
28132508,MALARIA_IPTP3_COVERAGE,COUNTRY,AGO,YEAR,2020,15.0,0.14970,2022-03-02T14:06:57Z,2020,01-01-20,31-12-20
28132509,MALARIA_IPTP3_COVERAGE,COUNTRY,AGO,YEAR,2019,16.2,0.16161,2022-03-02T14:06:57Z,2019,01-01-19,31-12-19
28132510,MALARIA_IPTP3_COVERAGE,COUNTRY,AGO,YEAR,2018,13.4,0.13417,2022-03-02T14:06:57Z,2018,01-01-18,31-12-18
28132511,MALARIA_IPTP3_COVERAGE,COUNTRY,AGO,YEAR,2017,8.6,0.08608,2022-03-02T14:06:57Z,2017,01-01-17,31-12-17
28132512,MALARIA_IPTP3_COVERAGE,COUNTRY,AGO,YEAR,2016,7.0,0.07024,2022-03-02T14:06:57Z,2016,01-01-16,31-12-16

### EST Mortality

In [32]:
# Define the path to the EST Mortality CSV file
csv_path = "../Dataset/EST_Mortality.csv"

# Read the data from the CSV file
df_est_mortality = pd.read_csv(csv_path, index_col=0)

df_est_mortality.head()

,IndicatorCode,SpatialDimension,SpatialDimensionValueCode,TimeDimension,TimeDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
Id,,,,,,,,,,,,,,
28109210,MALARIA_EST_MORTALITY,COUNTRY,MYS,YEAR,2004,3.5 [3.5-3.5],3.47351,3.47351,3.47351,NaN,2022-02-09T16:32:35Z,2004,01-01-04,31-12-04
28109211,MALARIA_EST_MORTALITY,COUNTRY,MYS,YEAR,2005,3.2 [3.2-3.2],3.21129,3.21129,3.21129,NaN,2022-02-09T16:32:36Z,2005,01-01-05,31-12-05
28109212,MALARIA_EST_MORTALITY,COUNTRY,MYS,YEAR,2006,2.0 [2.0-2.0],2.00367,2.00367,2.00367,NaN,2022-02-09T16:32:36Z,2006,01-01-06,31-12-06
28109213,MALARIA_EST_MORTALITY,COUNTRY,MYS,YEAR,2007,1.4 [1.4-1.4],1.40342,1.40342,1.40342,NaN,2022-02-09T16:32:36Z,2007,01-01-07,31-12-07
28109214,MALARIA_EST_MORTALITY,COUNTRY,MYS,YEAR,2008,1.8 [1.8-1.8],1.83581,1.83581,1.83581,NaN,2022-02-09T16:32:36Z,2008,01-01-08,31-12-08

### EST Incidence

In [33]:
# Define the path to the EST Incidence CSV file
csv_path = "../Dataset/EST_INCIDENCE.csv"

# Read the data from the CSV file
df_est_incidence = pd.read_csv(csv_path, index_col=0)

df_est_incidence.head()

,IndicatorCode,SpatialDimension,SpatialDimensionValueCode,TimeDimension,TimeDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
Id,,,,,,,,,,,,,,
28117449,MALARIA_EST_INCIDENCE,COUNTRY,AFG,YEAR,2000,82.0 [52.6-126.3],81.96956,52.64548,126.26156,NaN,2022-02-10T12:30:12Z,2000,01-01-00,31-12-00
28117450,MALARIA_EST_INCIDENCE,COUNTRY,AFG,YEAR,2001,78.8 [51.0-120.5],78.83207,50.98662,120.48957,NaN,2022-02-10T12:30:12Z,2001,01-01-01,31-12-01
28117451,MALARIA_EST_INCIDENCE,COUNTRY,AFG,YEAR,2002,79.4 [52.6-120.9],79.38579,52.59273,120.90185,NaN,2022-02-10T12:30:12Z,2002,01-01-02,31-12-02
28117452,MALARIA_EST_INCIDENCE,COUNTRY,AFG,YEAR,2003,68.1 [44.4-104.9],68.09156,44.38559,104.94574,NaN,2022-02-10T12:30:12Z,2003,01-01-03,31-12-03
28117453,MALARIA_EST_INCIDENCE,COUNTRY,AFG,YEAR,2004,37.6 [25.2-56.2],37.61647,25.19515,56.23893,NaN,2022-02-10T12:30:12Z,2004,01-01-04,31-12-04

### 1ST LINE TREATED

In [36]:
# Define the path to the 1st Line Treated CSV file
csv_path = "../Dataset/1STLINE_TREATED.csv"

# Read the data from the CSV file
df_1stline_treated = pd.read_csv(csv_path, index_col=0)

df_1stline_treated.head()

,IndicatorCode,SpatialDimension,SpatialDimensionValueCode,TimeDimension,TimeDim,Value,NumericValue,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
Id,,,,,,,,,,,
28124021,MALARIA_1STLINE_TREATED,COUNTRY,AGO,YEAR,2018,6 092 332,6092332.0,2022-02-10T13:20:16Z,2018,01-01-18,31-12-18
28124022,MALARIA_1STLINE_TREATED,COUNTRY,BDI,YEAR,2019,8 444 710,8444710.0,2022-02-10T13:20:16Z,2019,01-01-19,31-12-19
28124023,MALARIA_1STLINE_TREATED,COUNTRY,BEN,YEAR,2019,2 353 657,2353657.0,2022-02-10T13:20:16Z,2019,01-01-19,31-12-19
28124024,MALARIA_1STLINE_TREATED,COUNTRY,BFA,YEAR,2020,10 237 424,10237424.0,2022-02-10T13:20:16Z,2020,01-01-20,31-12-20
28124025,MALARIA_1STLINE_TREATED,COUNTRY,BWA,YEAR,2019,272,272.0,2022-02-10T13:20:16Z,2019,01-01-19,31-12-19

## Import Country Code

In [37]:
# Define the path to the country code CSV file
csv_path = "../Dataset/COUNTRY_CODE.csv"

# Read the data from the CSV file
df_country_code = pd.read_csv(csv_path, index_col=0)

# Rename column name
df_renamed_cc = df_country_code.rename(columns={'Code': 'SpatialDimensionValueCode'})

df_renamed_cc.head()

,SpatialDimensionValueCode,Title,ParentDimension,ParentCode,ParentTitle
Dimension,,,,,
COUNTRY,ABW,Aruba,REGION,AMR,Americas
COUNTRY,AFG,Afghanistan,REGION,EMR,Eastern Mediterranean
COUNTRY,AGO,Angola,REGION,AFR,Africa
COUNTRY,AIA,Anguilla,REGION,AMR,Americas
COUNTRY,ALB,Albania,REGION,EUR,Europe

## Merge Dataset to Country Code

In [41]:
#1stline_treated
# Merge the two datasets using a common column
merged_1stline_treated = pd.merge(df_1stline_treated, df_renamed_cc, on='SpatialDimensionValueCode')

# Save the merged dataset as a new CSV file
merged_1stline_treated.to_csv('../Dataset/merged_1stline_treated.csv', index=False)

In [47]:
#EST Incidence
# Merge the two datasets using a common column
merged_est_incidence = pd.merge(df_est_incidence, df_renamed_cc, on='SpatialDimensionValueCode')

# Save the merged dataset as a new CSV file
merged_est_incidence.to_csv('../Dataset/merged_est_incidence.csv', index=False)

In [48]:
#EST Mortality
# Merge the two datasets using a common column
merged_est_mortality = pd.merge(df_est_mortality, df_renamed_cc, on='SpatialDimensionValueCode')

# Save the merged dataset as a new CSV file
merged_est_mortality.to_csv('../Dataset/merged_est_mortality.csv', index=False)

In [49]:
#IPTP3 Coverage
# Merge the two datasets using a common column
merged_IPTP3_coverage = pd.merge(df_iptp3_coverage, df_renamed_cc, on='SpatialDimensionValueCode')

# Save the merged dataset as a new CSV file
merged_IPTP3_coverage.to_csv('../Dataset/merged_IPTP3_coverage.csv', index=False)

In [53]:
#ITN Coverage
# Merge the two datasets using a common column
merged_ITN_coverage = pd.merge(df_itn_coverage, df_renamed_cc, on='SpatialDimensionValueCode')

# Save the merged dataset as a new CSV file
merged_ITN_coverage.to_csv('../Dataset/merged_ITN_coverage.csv', index=False)

In [51]:
#Total Cases
# Merge the two datasets using a common column
merged_total_cases = pd.merge(df_total_cases, df_renamed_cc, on='SpatialDimensionValueCode')

# Save the merged dataset as a new CSV file
merged_total_cases.to_csv('../Dataset/merged_total_cases.csv', index=False)